body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bpg-arial-caps {
  font-family: "BPG Arial Caps", sans-serif;
}

.alk-sanet {
  font-family: "ALK Sanet", sans-serif;
}

.bpg-banner-es-caps {
  font-family: "BPG Banner ExtraSquare Caps", sans-serif;
  /* color: #5a5a5a; */
}